---
import { IoMdContacts } from 'react-icons/io'
import Layout from '../layouts/Layout.astro'
import ContactInfoCard from '../components/ContactInfoCard.astro'
import { FaWhatsapp } from 'react-icons/fa'
import { AiOutlineMail } from 'react-icons/ai'
import { TiLocationOutline } from 'react-icons/ti'
import { IoSend } from 'react-icons/io5'
---

<Layout title='Jhonny'>
  <main class='p-2 md:p-4'>
    <header
      class='rounded-lg flex flex-col gap-4 p-8 max-w-[450px] md:w-full md:max-w-none my-[30px]'
    >
      <div class='flex gap-8 items-center md:ml-8'>
        <IoMdContacts color='#fff' size={30} />
        <span class='text-white text-4xl'>Contacto</span>
      </div>
      <div class='text-2xl text-white md:ml-8'>
        ¡Me encantaría saber de ti! Si tienes alguna pregunta, comentario o simplemente quieres
        saludar, por favor completa el formulario a continuación. Haré mi mejor esfuerzo para
        responderte lo más pronto posible.
      </div>
    </header>
    <section class='flex flex-col gap-8 md:gap-16'>
      <section class='flex flex-col-reverse md:flex-row justify-between gap-16 md:gap-4 p-2'>
        <div
          class='flex flex-col justify-center gap-4 md:gap-16 mx-auto border-t-2 pt-4 md:border-none md:p-0'
        >
          <ContactInfoCard
            title='WhatsApp'
            information='+57 3165483140'
            href='https://wa.me/573165483140'
          >
            <FaWhatsapp slot='icon' color='#fff' size={50} />
          </ContactInfoCard>

          <ContactInfoCard
            title='Correo'
            information='jhonnyzamsa@hotmail.com'
            href='mailto:jhonnyzamsa@hotmail.com'
          >
            <AiOutlineMail slot='icon' color='#fff' size={50} />
          </ContactInfoCard>

          <ContactInfoCard
            title='Ubicación'
            information='Palmira - Colombia'
            href=`https://www.google.com/maps/place/3%C2%B031'56.0%22N+76%C2%B018'27.0%22W/@3.5322134,-76.3100725,17z/data=!3m1!4b1!4m4!3m3!8m2!3d3.5322134!4d-76.3074976?entry=ttu`
          >
            <TiLocationOutline slot='icon' color='#fff' size={50} />
          </ContactInfoCard>
        </div>
        <form
          action='https://formsubmit.co/46fd29aa3516e821e82898f460913bb8'
          method='POST'
          class='bg-black/100 border-b-2 border-t-2 border-slate-600 flex flex-col gap-8 p-8 w-full max-w-[450px] mx-auto rounded-xl'
        >
          <p class='text-3xl text-white'>Envía un mensaje</p>
          <input
            type='text'
            name='name'
            id=''
            class='text-xl text-white h-[50px] bg-black/100 border-b-2 border-white outline-none'
            placeholder='Nombre'
          />
          <input
            type='email'
            name='email'
            id=''
            placeholder='Correo'
            class='text-xl text-white h-[50px] bg-black/100 border-b-2 border-white outline-none'
          />
          <textarea
            name='message'
            placeholder='Escribe tu mensaje...'
            class='text-xl text-white h-[150px] bg-black/100 border-b-2 border-white outline-none'
          ></textarea>
          <button
            type='submit'
            class='bg-teal-500 hover:bg-teal-600 flex gap-2 justify-center items-center rounded-2xl w-full max-w-[320px] mx-auto px-4 py-2'
          >
            <span class='text-xl text-white'>Enviar</span>
            <IoSend color='#fff' />
          </button>
          <input type='hidden' name='_captcha' value='false' />
          <input type='hidden' name='_next' value='http://localhost:4321/sendEmailSucces' />
        </form>
      </section>
    </section>
  </main></Layout
>
