---
// const { type, name, className } = Astro.props
---

<section
  class='w-[100%] min-w-[320px] md:max-w-[1024px] h-min-[300px] h-full bg-purple-950 flex md:flex-row md:justify-between flex-col gap-2 rounded-xl overflow-hidden p-4'
>
  <div class='flex flex-col w-full md:w-[70%] gap-2 h-full self-center md:self-end'>
    <div class='h-[50%] bg-red-500'></div>
    <div class='h-full text-white flex flex-col p-2'>
      <h1 class='text-[28px]'>👋 Hola soy Jhonny</h1>
      <p class=''>
        Soy un desarrollador web full stack apasionado por crear aplicaciones sorprendentes. Trabajo
        tanto en el front-end como en el back-end, buscando siempre soluciones innovadoras y
        eficaces. Disfruto transformar ideas en realidad y enfrentar nuevos desafíos. ¡Hagamos algo
        genial juntos!
      </p>
    </div>
  </div>
  <img
    class='hidden md:block h-[200px] w-[200px]'
    src='https://cdn-icons-png.flaticon.com/512/1488/1488581.png'
  />
</section>
