---
// const { type, name, className } = Astro.props
---

<section class='w-full h-[350px] bg-purple-500 flex gap-2 rounded-xl overflow-hidden p-4'>
  <div class='flex flex-col w-[70%] gap-2 h-full'>
    <div class='h-[50%]'></div>
    <div class='h-[50%] text-white'>
      <h1 class='text-[28px]'>👋 Hola soy Jhonny</h1>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis culpa delectus quibusdam ad aliquam
      asperiores voluptatum laborum veritatis, illo deleniti eum facere odit, dignissimos ipsum commodi
      blanditiis perferendis. Amet, velit.
    </div>
  </div>
  <img src='https://cdn-icons-png.flaticon.com/512/1488/1488581.png' />
</section>
