---
import { TypeCard } from '../enums/cardEnums'
interface Props {
  type: TypeCard
  name: string
  className?: string
}
const { type, name, className } = Astro.props
---

<section
  class={`${type === TypeCard.BIG ? 'w-[400px] h-[400px]' : 'w-[200px] h-[196px]'}
         bg-blue-600 hover:bg-blue-400
			    flex justify-center items-center rounded-xl	relative cursor-pointer ${className}`}
>
  <slot name='icon' />
  <span class='absolute left-4 bottom-4 text-[24px]'>{name}</span>
</section>
