<header
  class='flex items-center justify-between px-6 py-3 w-[20%] min-w-[150px] md:w-[1024px] mx-auto'
>
  <img class='rounded-full hidden md:block w-20 h-20' src='/public/perfil.png' alt='' />
  <nav class='flex flex-col md:flex-row gap-10 opacity-80 text-white'>
    <a href='/'>Inicio</a>
    <a href='/'>Sobre mí</a>
    <a href='/projects'>Proyectos</a>
    <a href='/experience'>Experiencia</a>
    <a href='/contact'>Contacto</a>
  </nav>
</header>
