<header class="flex items-center max-h-32 justify-between py-3 w-[1120px]">
    <img 
        class="rounded-full w-20 h-20"
        src="/public/perfil.png" alt="">
    <nav class="flex gap-10 opacity-80">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/">Projects</a>
        <a href="/">Social media</a>
        <a href="/">Contact</a>
    </nav>

</header>