---
import '../../src/assets/styles/tailwind.css'
import Header from '../components/Header'
import '@fontsource-variable/baloo-2'
import './global.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es' class='customScrollbar'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <section
      class='flex-col mx-auto max-w-[1120px] customScrollbar hiddenScrollbarVertical overflow-x-hidden'
    >
      <Header transition:persist client:visible />
      <slot />
    </section>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: normal;
  }
  html {
    font-family: 'Baloo 2 Variable', system-ui;
  }
  body {
    /* background: #050505; */
    background: linear-gradient(to bottom, #0b121e, #16253d);
    display: flex;

    flex-direction: column;
    min-height: 100vh;
  }
</style>
